@import url(../style/fonst.css);

/* root-start */
:root {
    --IB: Insert-Bold;
    --IR: Insert-Regular;
    --White: #FFFFFF;
    --White2: #E0E0E0;
    --Black: #131313;
    --Black2: #333333;
    --Yellow: #FCD500;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
::-webkit-scrollbar { 
    width: 7px;  
} 
 
::-webkit-scrollbar-track { 
    opacity: 0; 
    border-radius: 10px; 
} 
 
::-webkit-scrollbar-thumb { 
    background: var(--Yellow); 
    border-radius: 10px; 
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: var(--Black);
}
.body-bg{ 
    position: fixed; 
    top: 0; 
    z-index: -999; 
    width: 100%; 
    height: 100vh; 
}
/* root-end */

/* header-start */
.header{
    margin-top: 100px;
    height: 100vh;
}
.header-top {
    text-align: center;
}

.header-top__title {
    color: rgb(255, 255, 255);
    font-family: var(--IB);
    font-size: 35px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
}

.header-top__title-second {
    color: rgb(255, 255, 255);
    font-family: var(--IR);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
}

.header-content {
    margin-top: 91px;
    display: flex;
}

.content-left__title {
    width: 588px;
    height: 195px;
    color: rgb(255, 255, 255);
    font-family: var(--IB);
    font-size: 66px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}

.content-left__text {
    width: 530px;
    height: 83px;
    color: rgb(224, 224, 224);
    font-family: var(--IR);
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}

.content-left__btn {
    padding: 15px 20px;
    border-radius: 5px;
    background: rgb(252, 213, 0);
    color: rgb(51, 51, 51);
    font-family: var(--IB);
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}
.content-left__btn:hover{
    color:rgb(252, 213, 0) ;
    background-color: rgb(51, 51, 51);
    transition: all 0.4s;
}

 .header-content__icon{
    /* opacity: 0.5; */
    padding-top: 30px;
    font-size: 72px;
    color: var(--White);
    transition: all 500ms;
} 

.header-content__adress {
    text-decoration: underline;
    width: 300px;
    color: var(--White);
    font-family: var(--IR);
    font-size: 18px;
    font-weight: 100;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
