@import url(../style/fonst.css);

/* root-start */
:root {
    --IB: Insert-Bold;
    --IR: Insert-Regular;
    --White: #FFFFFF;
    --White2: #E0E0E0;
    --Black: #131313;
    --Black2: #333333;
    --Yellow: #FCD500;
}

.main-skills__content{
    display: flex;
}

.main-skills__list{
    width: 50%;
}

.main-skills{
    margin-top: 100px;
}
.main-skills__title{
    margin-top: 20px;
    color: white;
    font-size: 26px;
    font-family: var(--IB);
}
.main-skills__items{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main-skill__container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.main-skills__name{
    color: white;
    font-size: 16px;
    font-family: var(--IB);
}
.main-skills__line{
    margin: 20px 0;
    max-width: 350px;
    width: 100%;
    height: 10px;
    background:gray;
    border-radius: 50px;
}
.main-skills__line-second{
    width: 100%;
    height: 10px;
    background-color: var(--Yellow);
    border-radius: 50px;
}
.main-skills__line-second1{
    width: 100%;
    height: 10px;
    background-color: var(--Yellow);
    border-radius: 50px;
}
.main-skills__line-second2{
    width: 50%;
    height: 10px;
    background-color: var(--Yellow);
    border-radius: 50px;
}
.main-skills__line-second3{
    width: 90%;
    height: 10px;
    background-color: var(--Yellow);
    border-radius: 50px;
}



/* -----------------------------  B O X  ------------------------------------ */



.main-skills__boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 50%;
}

.main-skills__box{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: white 0 0 30px 5px;
    transition: all 500ms;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.main-skills__box-title{
    font-family: var(--IB);
    transition: all 400ms;
}
.main-skills__box:hover{
    background-color: var(--Yellow);
    box-shadow: var(--Yellow) 0 0 30px 5px;
}

.main-skills__box-icon{
    font-size: 100px;
    transition: all 400ms;
}

.main-skills__box:hover .main-skills__box-icon{
    color: white;
}
.main-skills__box:hover .main-skills__box-title{
    color: white;
}