@import url(../style/fonst.css);

/* root-start */
:root {
    --IB: Insert-Bold;
    --IR: Insert-Regular;
    --White: #FFFFFF;
    --White2: #E0E0E0;
    --Black: #131313;
    --Black2: #333333;
    --Yellow: #FCD500;
}
/* main start */
.main-title{
    padding-bottom: 30px;
    color: white;
    font-size: 26px;
    font-family: var(--IB);
}

.main-students{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.location_map{
    display: flex;
    gap: 20px;
}

.main-students__first{
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    max-width: 350px;
    width: 100%;
    position: relative;
    transition: all 500ms;
}

.main-students__first img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    opacity: 1;
    display: block;
    transition: all 500ms;
}


.main-students__first:hover img{
    /* opacity: 0.5; */
    z-index: -2;
}

.main-student__gradient{
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
}

.main-students__first h3{
    position: absolute;
    left: 20px;
    top: 30px;
    color: white;
    font-size: 20px;
    font-family: var(--IB);
    opacity: 0;
    transition: all 500ms;
}
.main-students__first:hover h3{
    opacity: 1;
}

.main-students__first p{
    position: absolute;
    left: 20px;
    bottom: 100px;
    width:70%;
    color: white;
    font-size: 18px;
    font-family: var(--IR);
    opacity: 0;
    transition: all 500ms;
}
.main-students__first:hover p{
    opacity: 1;
}

.main-students__btn{
    position: absolute;
    opacity: 0;
    transition: 400ms;
    left: 20px;
    bottom: 40px;
    padding: 10px 20px;
    background:var(--Yellow);
    border-radius: 10px;
    font-size: 14px;
    color: var(--Black);
    font-family: var(--IR);
}

.main-students__btn:hover{
    color:var(--Yellow);
    transition: all 0,4s;
    background-color:black;
}

.main-students__first:hover a{
    opacity: 1;
}
